version: '3.8'

services:
  frontend-service:
    build:
      context: ./frontend-service
      dockerfile: Dockerfile
    container_name: frontend-service
    ports:
      - "9000:80"
    networks:
      - bazar-network

networks:
  bazar-network:
    driver: bridge
